.container{
    width: fit-content;
    margin: auto;
    padding: 1rem;
    height: 10vh;
}

button{
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    background-color: #6ecff6;
    text-transform: uppercase;
}